tensorflow
imutils==0.5.4
#imutils
#scikit-learn==1.0.2
scikit-learn
#opencv-python==4.5.5.64
#opencv-python==4.8.0
#opencv-python==3.4.11
opencv-python-headless
matplotlib==3.5.1
#streamlit==1.39.0
streamlit
#numpy==1.21.2
numpy
